$font-title: 'Shrikhand', sans-serif;
$font-text: 'Roboto', sans-serif;
$font-roboto-size: 15.04px;
$font-title-size: 30px;
$font-weight: 400;
$font-color: black;
$background-color: #EAEAEA;
$main-color: #353535;
$white-color:#fff;
$green-color:#99E2D0;
$green-font-color:#008766;
$primary-color: #9356DC;
$main-text-color: #353535;
$main-bg-color: #F6F6F6;
$grey-color: #EAEAEA;
$filter-bg-color: #DEEBFF;
$gradient:linear-gradient(360deg, #9356dc 0%, #ff79da 100%);

@mixin button-style {
    background: $gradient;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 218px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin subtitle-style{
    font-family: $font-text;
    font-size: calc(28rem/16);
    font-weight: 700;
}

@mixin title-style($font-title-size,$font-color) {
    font-family: $font-title;
    font-size: $font-title-size;
    color: $font-color;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 16px;
  }

h2 {
    @include subtitle-style();
    color: black;
    padding-bottom: 10px;
}

.header {
    position: relative;
    height: 63px;
    &__h1 {
        font-family: $font-title;
        font-size: 30px;
        color: black;
        padding: 15px 0 15px 0;
        text-align: center;
    }
    &__home {
        position: absolute;
        top: 25px;
        left: 20px;
      }
    &__home i{
        font-size: 24px;
        color:$main-color;
      }
}

.mainHeader img{
    display: block;
    width: 100%;
    height: 251px;
    object-fit: cover;
}

.card {
    background: $main-bg-color;
    padding : 0 13px 0 13px;
    width: 100%;
    box-sizing: border-box;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    position: relative;
    top : -50px;
    box-sizing: border-box;
    height: 100%;
    margin-bottom: -50px;
    &__mainTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        margin-bottom: 20px;
    }
    &__mainTitle h2 {
        font-family: $font-title;
    }
    &__mainTitle label {
        padding-right: 40px;
    }
    &__menu--text-main, &__menu--text-composition {
        display: block;
    }
    &__menu--checkbox {
        display: none;
    }
    &__menu--checkbox:checked ~ .card__menu--textAnimation span::after {
        opacity: 1;
        width:59px;
        transform: translateX(60px);
    }
    &__menu--checkbox:checked ~ .card__menu--textAnimation {
        display: flex;
        transform: translateX(-60px);
        height: 100%;
        align-items: center;
        transition: transform .4s;
    }
    &__menu--checkbox:not(:checked) ~ .card__menu--textAnimation {
        display: flex;
        height: 100%;
        align-items: center;
        transition: transform .4s;
    }
    &__menu--checkbox:not(:checked) ~ .card__menu--textAnimation span::before {
        opacity: 1;
        width:0px;
    }
    &__menu .card__menu--textAnimation span::after {
        content: url(../../Assets/images/picto/circle-check-solid.svg);
        background-color: $green-color;
        background-size: cover;
        width: 0px;
        height: 100%;
        display: flex;
        position: absolute;
        right: 0;
        top:0;
        justify-content: center;
        align-items: center;
        border-radius: 0 15px 15px 0;
        opacity: 0;
    }
    &__menu .card__menu--textAnimation span::before {
        content: "";
        background-color: var(--green-color);
        background-size: cover;
        width: 59px;
        height: 100%;
        display: flex;
        position: absolute;
        right: 0;
        top:0;
        justify-content: center;
        align-items: center;
        border-radius: 0 15px 15px 0;
        opacity: 0;
        transform: translateX(60px);
        transition: 
          width .4s;
    }
    &__menu--checkbox:checked ~ .card__menu--text span{
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__mainTitle--bottom-heart::before{
        content: url(../../Assets/images/picto/heart-solid.svg);
        opacity: 1;
        z-index: 1;
    }
    &__mainTitle--bottom-heart::after{
        content: url(../../Assets/images/picto/heart-regular.svg);
        opacity: 0;
        display: block;
    }
    &__mainTitle--bottom-checkbox:checked ~ .card__mainTitle--bottom-heart::after {
        opacity: 1;
    }
    &__mainTitle--bottom-checkbox:checked ~ .card__mainTitle--bottom-heart::before{
        display: none;
    }
    &__mainTitle--bottom-heart {
        position: absolute;
        height: 30px;
        width: 30px;
        right:0%;
        cursor: pointer;
        bottom:-10px;
        left: -10px;
    }
    &__mainTitle--bottom-checkbox {
        display: none;
    }
    &__menuTitle h3{
        display: flex;
        text-transform: uppercase;
        font-weight: 300;
        position: relative;
        padding-bottom: 20px;
    }
    &__menuTitle h3::after{
        content: "";
        position: absolute;
        width: 40px;
        background-color: $green-color;
        height: 2px;
        bottom: 12px;
        left: 0;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white-color;
        border-radius: 15px;
        width: 100%;
        height: 69px;
        margin-bottom: 10px;
        box-shadow:  0px 4px 15px rgba(0, 0, 0, 0.10);
        cursor: pointer;
        overflow: hidden;
    }
    &__menu--text-main {
        font-weight: 500;
        font-size: 18px;
        padding-left: 10px;
    }
    &__menu--text-composition {
        font-weight: 300;
        font-size: 15px;
        padding-left: 10px;
    }
    &__menu--text + .card__menu--textAnimation span {
        font-weight: 500;
        font-size: 15px;
        padding: 20px 10px 0 0;
    }
    &__button {
        display: flex;
        justify-content: center;
    }
    &__button a {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        background: $gradient;
        width: 218px;
        height: 50px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        z-index: 1;
        position: relative;
        margin: 30px 0 30px 0;
    }
    &__button a:hover::after {
        opacity: 0.20;
    }
    &__button a::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $white-color;
        opacity: 0;
        z-index: -1;
        border-radius: 25px;
        transition: opacity 1s, box-shadow 0.3s;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    }
}

label {
    position: relative;
}

.footer {
    background-color: $main-text-color;
    color: $white-color;
    padding: 20px 0 30px 17px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    & a {
        color: $white-color;
        font-weight: 300;
        font-size: 16px;
        padding-bottom: 5px;
    }
    & h1 {
        font-family: $font-title;
        font-size: 18px;
        padding-bottom: 15px;
    }
    &__icon  {
        display: flex;
    }
    &__icon a {
        font-weight: 500;
        font-size: 16px;
    }
    &__icon i {
        width: 10px;
        height: 13px;
        padding-right: 15px ;
    }
}

@media screen and (min-width:1024px) {
    .card {
      width: 80%;
      left:10%;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__mainTitle {
        display: flex;
        justify-content: center;
      }
      &__mainTitle .card__mainTitle--bottom-heart {
        padding-left: 50px;
      }
      &__menuTitle {
        display: flex;
        align-content: flex-start;
        width: 630px;
      }
      &__menu {
        width: 634px;
      }
      &__menu--checkbox:hover ~ .card__menu--textAnimation span::after {
        opacity: 1;
        width:59px;
        transform: translateX(60px);
      }
      &__menu--checkbox:hover ~ .card__menu--textAnimation {
        display: flex;
        transform: translateX(-60px);
        height: 100%;
        align-items: center;
        transition: transform .2s;
      }
      &__menu--checkbox:not(:hover) ~ .card__menu--textAnimation {
        display: flex;
        height: 100%;
        align-items: center;
        transition: transform .2s;
      }
      &__menu--checkbox:not(:hover) ~ .card__menu--textAnimation span::before {
        opacity: 1;
        width:0px;
      }
      &__menu--checkbox:checked ~ .card__menu--text span{
        max-width: 300px; 
      }
    }

    label#card__menuFirst, label#card__menuSecond ,label#card__menuLast {
        margin-bottom: 40px;
    }
    .mainHeader img {
        object-fit: cover;
        height: 383px;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: end;
        height: 50px;
        padding-bottom: 10px;
        & h1 {
            order : 4;
            padding :0 40px 0 80px;
        }
        &__icon {
            padding-left: 10px;
        }
    }
    body > main > footer > a:nth-child(4) {
        padding: 0 10px 5px 50px;
      }
}

@media screen and (min-width:720px) and (max-width: 1024px) {
    .card {
      width: 80%;
      left:10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__mainTitle {
        display: flex;
        justify-content: center;
      }
      &__mainTitle .card__mainTitle--bottom-heart {
        padding-left: 50px;
      }
      &__menuTitle {
        display: flex;
        align-content: flex-start;
        width: 80%;
      }
      &__menu {
        width: 80%;
      }
      &__menu--checkbox:checked ~ .card__menu--text span{
        max-width: 100%;
        }
    }
    label#card__menuFirst, label#card__menuSecond ,label#card__menuLast {
        margin-bottom: 40px;
      }
  
    .mainHeader img {
        object-fit: cover;
        height: 383px;
    } 
}