* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 10px;
}

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  animation-name: bgTransition;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  background-color: #F6F6F6;
  animation-delay: 2s;
  z-index: 9999;
}
.loader svg {
  position: relative;
  top: 40%;
  left: 40%;
  margin: auto;
  overflow: visible;
}

.o {
  animation-name: o;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.h {
  animation-name: h;
  animation-duration: 4.2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes bgTransition {
  0% {
    background-color: #F6F6F6;
    opacity: 1;
  }
  100% {
    background-color: #F6F6F6;
    opacity: 0;
    display: none;
  }
}
@keyframes o {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(-190%, -190%) rotate(2deg) scale(8);
    opacity: 0;
    display: none;
  }
}
@keyframes h {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(95%, -160%) rotate(7deg) scale(6);
    opacity: 0;
    display: none;
  }
}
.header {
  background-color: #F6F6F6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
  padding: 15px 0 15px 0;
  background-color: #fff;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}
.header__subtitleAndIcon {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 20px 0 20px 0;
}
.header__subtitleAndIcon i {
  color: #353535;
  background-color: #EAEAEA;
  padding-right: 10px;
}
.header__subtitleAndIcon p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #353535;
  background-color: #EAEAEA;
}

.booking {
  background-color: #F6F6F6;
  padding: 40px 0 40px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.booking__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: black;
  text-align: center;
  padding-bottom: 10px;
}
.booking__text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  text-align: center;
}
.booking__link {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}
.booking__link--button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(360deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 218px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.booking__link--button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  opacity: 0;
  z-index: -1;
  border-radius: 25px;
  transition: opacity 1s, box-shadow 0.3s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.booking__link--button:hover::after {
  opacity: 0.2;
}

.operation {
  margin-top: 40px;
  padding-left: 17px;
  height: 350px;
  display: flex;
  flex-direction: column;
}
.operation h2 {
  margin-bottom: 10px;
}

.operationSection__area {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  font-size: 14px;
  width: 335px;
  height: 72px;
  position: relative;
}
.operationSection__area > p {
  background-color: #9356DC;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 7px;
  font-weight: 500;
}
.operationSection__area--content {
  display: flex;
  background-color: #F6F6F6;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 20px;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.operationSection__area--content > i {
  padding-right: 20px;
  padding-left: 30px;
  color: #7E7E7E;
}
.operationSection__area .fa-store {
  color: #9356DC;
}

.restaurant {
  padding: 40px 17px 40px 17px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}
.restaurant a {
  color: black;
}
.restaurant h2 {
  padding-bottom: 20px;
}
.restaurant__CardLink {
  position: relative;
  width: 100%;
  height: 100%;
}
.restaurant__CardLinkArticle {
  display: flex;
  flex-direction: column;
  height: 251px;
  margin-bottom: 18px;
}
.restaurant__CardLinkArticle:active, .restaurant__CardLinkArticle:visited {
  color: black;
}
.restaurant__CardLinkArticle--img {
  height: 170px;
  position: relative;
}
.restaurant__CardLinkArticle--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant__CardLinkArticle--img p {
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  font-weight: 500;
  padding: 7px;
  top: 20px;
  right: 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.restaurant__CardLinkArticle--bottom {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 18px 20px 15px 10px;
  border-radius: 0 0 15px 15px;
  line-height: 1.5rem;
  max-height: 78px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 0;
}
.restaurant__CardLinkArticle--bottom h3 {
  font-weight: 800;
  font-size: 18px;
}
.restaurant__CardLinkArticle--bottom p {
  font-weight: 300;
  font-size: 17px;
}

.restaurant__CardLinkArticle--bottom-heart {
  position: absolute;
  height: 22px;
  width: 22px;
  right: 0%;
  cursor: pointer;
}
.restaurant__CardLinkArticle--bottom-heart::before {
  content: url(../../Assets/images/picto/heart-solid.svg);
  opacity: 1;
  z-index: 1;
}
.restaurant__CardLinkArticle--bottom-heart::after {
  content: url(../../Assets/images/picto/heart-regular.svg);
  opacity: 0;
  display: block;
}

label {
  position: absolute;
  right: 20px;
  bottom: 50px;
}

.restaurant__CardLinkArticle--bottom-checkbox:checked ~ .restaurant__CardLinkArticle--bottom-heart::after {
  opacity: 1;
}

.restaurant__CardLinkArticle--bottom-checkbox:checked ~ .restaurant__CardLinkArticle--bottom-heart::before {
  display: none;
}

.restaurant__CardLinkArticle--bottom-checkbox {
  display: none;
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 20px 0 30px 17px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.footer a {
  font-family: "Roboto", sans-serif;
  font-size: -roboto-size;
  font-weight: 300;
  color: #fff;
  padding-bottom: 5px;
}
.footer h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  color: #fff;
  padding-bottom: 15px;
}
.footer__icon {
  display: flex;
}
.footer__icon a {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 5px;
}
.footer__icon i {
  width: 10px;
  height: 13px;
  padding-right: 15px;
}

@media only screen and (min-width: 768px) {
  .booking h2 {
    font-size: 2.5rem;
    padding-bottom: 20px;
  }
  .booking {
    padding-bottom: 10px;
  }
  .booking__text {
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  /* Operation */
  .operationResponsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .operationTitle {
    width: 1000px;
  }
  .operation {
    height: 200px;
  }
  .operationSection {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  /* Restaurant */
  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurant__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .restaurant__CardLinkArticle {
    width: 100%;
  }
  .restaurant__cardNew, .restaurant__cardOld {
    gap: 90px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1005px;
    padding-bottom: 30px;
  }
  #anchorRestaurant {
    width: 1005px;
  }
  /* Footer */
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    height: 50px;
    padding-bottom: 10px;
  }
  .footer__icon {
    padding-left: 10px;
  }
  .footer h1 {
    order: 4;
    padding: 0 120px 0 80px;
  }
  body > main > footer > a:nth-child(4) {
    padding: 0 10px 5px 50px;
  }
}/*# sourceMappingURL=style.css.map */